<div class="container container-small">
    <div class="app-name">
        ToDo App
    </div>
    <div class="alert alert-info alert-dismissable">
        Dummy User: Username: "test@test.com" Password:"test"
    </div>
    <form  class="form-signin">
        <input id="username" type="email" class="form-control top" placeholder="Email" name="username" ng-model="email " autofocus>
        <input id="password" type="password" class="form-control bottom" placeholder="Password" name="password" ng-model="password">
        <button name="signin" type="button" class="btn btn-lg btn-primary btn-block marginTop10Px" ng-click="loginUser()">Sign in</button>
    </form>
</div> <!-- /container -->