<div data-ng-show="task.valid">
    <pre>Please add title</pre>
</div>
<form>
    <label>Title</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="title" data-ng-model="todo.title" style="width: 200px">
     <br>
    <label>Description</label>
    <input type="text" name="description" data-ng-model="todo.description" style="height: 100px; width: 200px">
    <br>
    <label>Due Date</label>
    <input type="date" name="dueDate" style="margin-left: 16px;width: 200px;margin-top: 5px" data-ng-model="todo.dueDate">
    <br>
    <label> Status</label>
    <select ng-model="todo.status" ng-options="currentStatus.value for currentStatus in status " style="margin-left: 32px;width: 200px;margin-top: 5px"></select><br>
    <div style="margin-top: 15px;margin-left: 100px" data-ng-model="todo.dueDate" style="width: 200px">
        <button class="btn btn-success" data-ng-click="save()">Save</button>
        <button class="btn btn-danger" data-ng-click="delete()">delete</button>
        <button class="btn btn-info" data-ng-click="back()">back</button>
    </div>

</form>