<div data-ng-show="todo.valid">
    {{todo.valid}}
    <pre>Please add title</pre>
</div>
<form>
    <label>Title</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="title" data-ng-model="todo.title" style="width: 200px">
    <br>
    <label>Description</label>
    <input type="text" name="description" data-ng-model="todo.description" style="height: 100px; width: 200px">
    <br>

    <label>Due Date</label>
    <input type="date" name="dueDate" data-ng-model="todo.dueDate" style="width: 200px; margin-left: 15px">

    <div style="margin-top: 15px;margin-left: 100px">
        <button class="btn btn-success" data-ng-click="save()">Save</button>
        <button class="btn btn-info" data-ng-click="back()">back</button>
    </div>

</form>